
body {
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
}
#video {
    margin: 0;
    padding: 0;
    /* height: 800px; */
  
  

}

.vdo{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    /* object-fit: cover; */
    background-size: cover;
    
    
}

.overlay::before{
    position: sticky;
    top 0;
}
.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
    color: white;
    cursor: pointer;
}


.col-2:hover {
    text-decoration: underline;
}

.overlay img {
    align-items: center;
    cursor: pointer;
    width: 200px;
    
}


.overl{
    position: absolute;
    top: 50%;
    
}

.custom-button:hover {
    background-color: black !important;
    color: white !important;
}
.col1{
    position: absolute;
    top 0;
    margin-top: 160px;
}
.col-2{
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
}
.lay{
    padding-top: 100px;
    margin: 50px;
    font-size: 50px;
    color: aliceblue;
}
.col-6:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.3s ease;
    
    
}
p:hover{
    color: red;
}
.col-2:hover{
 color: red;
 transform: scale(1.0);
 opacity: 1;
}
.rowx {
    margin-top: 20px; 
}

.rowx .col-2 img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
}

.rowx .col-2 img:hover {
    transform: scale(1.1); 
}